<!doctype html>
<html>

<body>
    Thank you for applying for a residence permit in Cologne, Germany.
    You will receive a feedback notification from the immigration office shortly to get an
    appointment.
    Best wishes
</body>
</html>    