<!doctype html>
<html>

<body>
    <p>Thank you for applying for a residence permit in Cologne, Germany.</p>
    <p></p>You will receive a feedback notification from the immigration office shortly to get an
    appointment.</p>
    <p>Best wishes</p>
</body>
</html>    